.section {
    max-width: 1920px;
    margin: 0 auto;
}

.title {
    font-family: var(--second-family);
    font-size: 62px;
    font-weight: 400;
    margin: 0;
}

.title-header,
.title-hero {
    margin: 0 0 25px 0;
}

.title-header {
    max-width: 484px;
}

.title-promo {
    color: var(--text-promo-color);
    margin: 55px 0 0 0;
}

.title-promo-screen {
    margin-bottom: 25px;
}

.logo {
    max-width: 296px;
    max-height: 74px;
}

.logo-promo-screen {
    max-width: 320px;
    max-height: 80px;
}

.title-promo-product {
    max-width: 624px;
    margin: 0 0 25px 0;
}

.text {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 189%;
    color: var(--text-color);
    max-width: 952px;
}

.text-link {
    color: var(--text-link-color);
    font-weight: 700;
}

.text-promo {
    color: var(--text-promo-color);
}

.text-promo-screen {
    color: var(--bg-primary);
}

.text-promo-screen--mb25 {
    margin-bottom: 25px;
}

.text-promo-product-secondary {
    color: var(--text-link-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}

.text-promo-product {
    color: var(--text-promo-color);
}

.text-footer {
    line-height: 100%;
    color: var(--bg-primary);
}

.button {
    background: var(--bg-primary);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    color: var(--bg-learn-more);
    padding: 15px 50px;
    border: 0;
    white-space: nowrap;
}

.button-secondary {
    background: var(--bg-learn-more);
    color: var(--bg-primary);
    font-size: 18px;
    align-self: flex-start;
    margin-bottom: 15px;
}

.button--18px {
    font-size: 18px;
}

.checkbox__container {
    display: flex;
    align-items: center;
    position: relative;
    font-family: var(--font-family);
    color: var(--text-promo-color);
    font-size: 12px;
    font-weight: 300;
}

.checkbox {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox__mark {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 10px;
    background: var(--bg-primary);
    border: 1px solid var(--text-color);
}

.checkbox:checked+.checkbox__mark::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    background-image: url('../images/checkbox.svg');
    background-size: cover;
    display: block;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.features-list--mb40 {
    margin-bottom: 40px;
}

.features-list--mb70 {
    margin-bottom: 70px;
}

.features-list__item {
    display: flex;
    gap: 10px;
}

@media (max-width:1024px) {
    .text {
        max-width: 788px;
    }

    .title-promo {
        margin: 0 0 15px 0;
    }

    .text-promo {
        max-width: 460px;
    }
}

@media (max-width: 790px) {
    .title-header {
        font-size: 30px;
    }

    .title-promo-product {
        margin: 40px 0 0 0;
    }

    .features-list {
        margin-bottom: 40px;
    }
}

@media (max-width: 490px) {
    .logo {
        max-width: 200px;
        max-height: 50px;
    }

    .title-hero,
    .title-promo,
    .title-promo-screen {
        font-size: 30px;
    }

    .title-hero,
    .text-hero {
        padding: 0 12px;
    }

    .text,
    .text-promo-screen {
        font-size: 16px;
        line-height: 200%;
    }

    .text-promo-product-secondary {
        font-size: 20px;
        line-height: 100%;
    }

    .text-promo-product {
        line-height: 100%;
    }

    .form__button,
    .promo-screen__button {
        font-size: 16px;
    }
}