.hero {
    margin: 0 auto 70px;
    max-width: 1280px;
    padding: 0 36px;
}

.hero__container {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    gap: 32px;
}

.hero__left {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr;
}

.hero__left img {
    clip-path: polygon(100% 0,
            10.87% 0,
            0 25.51%,
            0 100%,
            89.13% 100%,
            100% 74.49%);
}

.hero__right {
    clip-path: polygon(100% 0,
            7.85% 0,
            0 13.55%,
            0 100%,
            92% 100%,
            100% 86.45%);
}

.hero__left img,
.hero__right {
    width: 100%;
    height: auto;
}

.hero__text {
    margin-bottom: 70px;
}

@media (max-width: 1024px) {
    .hero__container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .hero__left {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}

@media (max-width: 490px) {
    .hero {
        padding: 0;
    }

    .hero__left {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .hero__left img {
        width: 100%;
        clip-path: polygon(100% 0%,
                15.625% 0%,
                0% 25.51%,
                0% 100%,
                84.375% 100%,
                100% 74.49%);
    }

    .hero__left img:first-child {
        content: url('../images/hero-image1-320.png');
    }

    .hero__left img:nth-child(2) {
        content: url('../images/hero-image2-320.png');
    }

    .hero__right {
        content: url('../images/hero-image3-320.png');
        max-height: 424px;
        clip-path: polygon(100% 0%,
                15.625% 0%,
                0% 11.79%,
                0% 100%,
                84.375% 100%,
                100% 88.21%);
    }
}