.promo {
    background: var(--bg-primary);
}

.promo__top {
    background: url(../images/promo-top.png);
}

.promo__bottom {
    background: url(../images/promo-bottom.png);
}

.promo__top,
.promo__bottom {
    min-height: 70px;
}

.promo__wrapper {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top top"
        "top top"
        "form image";
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px 36px 70px;
    gap: 25px;
}

.promo__container-top {
    grid-area: top;
}

.promo__form {
    grid-area: form;
    max-height: 383px;
    align-self: self-end;
}

.promo__image {
    grid-area: image;
    align-self: center;
}

.promo__title {
    display: flex;
    gap: 32px;
}

.promo__icon {
    width: 132px;
    height: 132px;
}

.promo__image {
    height: auto;
    width: 100%;
    max-width: 788px;
    min-height: 0;
    min-width: 0;
}

.promo__bottom {
    display: flex;
}

.promo__form {
    display: flex;
    flex-direction: column;
    width: 460px;
    max-width: 460px;
}

.promo__form input {
    display: block;
    background: var(--bg-primary);
    font-family: var(--font-family);
    color: var(--text-promo-color);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 35px;
    border: 0;
    border-bottom: 1px solid var(--text-color);
    padding: 0 0 13px 0;
}

.promo__form input::placeholder {
    color: var(--text-promo-color);
    font-size: 18px;
    font-weight: 300;
}

.form__button--file {
    display: flex;
    flex-direction: column;
    background: var(--bg-primary);
    padding: 39px;
    border-image: url("../images/border-input.svg") 2 round;
    margin-bottom: 35px;
}

.form__button-title {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--text-promo-color);
    margin-bottom: 7px;
}

.form__button-subtitle {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 12px;
    color: var(--text-promo-color);
}

@media (max-width:1024px) {
    .promo__title {
        flex-direction: column;
        gap: 15px;
        max-width: 460px;
    }

    .promo__wrapper {
        grid-template-areas:
            "top image"
            "top image"
            "form image";
    }

    .promo__image {
        content: url(../images/promo-image1024.png);
    }
}

@media (max-width: 790px) {
    .promo__form {
        max-width: 296px;
    }

    .promo__image {
        max-width: 296px;
    }
}

@media (max-width: 490px) {
    .promo__wrapper {
        grid-template-areas:
            "image image"
            "top top"
            "form form";
        padding: 12px 6px 70px;
        max-width: 296px;
        gap: 0;
    }

    .promo__container-top {
        margin-bottom: 54px;
    }

    .promo__icon {
        display: none;
    }

    .promo__image {
        content: url(../images/promo-image320.png);
        max-width: 296px;
        justify-self: center;
    }

    .promo__form input::placeholder {
        font-size: 16px;
    }
}