.button {
    font-family: var(--font-family);
    border-radius: 4px;
    line-height: 125%;
    font-size: 16px;
    letter-spacing: 0.01em;
    max-height: 52px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-primary {
    font-weight: 600;
    color: var(--main-color);
    background: var(--bg-button-primary);
}

.button-secondary {
    font-weight: 700;
    background: var(--main-color);
    color: var(--bg-button-primary);
}

.button-12-24 {
    padding: 12px 24px;
}

.button-16-36 {
    padding: 16px 36px;
}

.image-stack {
    position: relative;
    width: 526px;
    height: 480px;
    max-width: 480px;
    max-height: 526px;
}

.image-stack__base,
.image-stack__overlay {
    width: 350px;
    height: 400px;
    border-radius: 24px;
}

.image-stack__overlay {
    position: absolute;
    right: 0;
    bottom: 0;
}

.image-clover {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 720px) {
    .image-stack {
        width: 350px;
        height: 400px;
    }

    .image-stack__base {
        display: none;
    }

    .image-stack__overlay {
        position: relative;
    }

    .image-clover {
        display: none;
    }
}