.footer {
    background: var(--bg-button-primary);
    margin-top: 98px;
}

.footer__wrapper {
    padding: 178px 16px 80px;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.footer__bottom {
    display: flex;
    background: var(--text-color);
    width: 100%;
    height: 66px;
}

.footer__bottom__wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    width: 100%;
    padding: 0 16px;
}

.footer__top {
    display: flex;
    gap: 20px;
}

.footer__left {
    max-width: 456px;
    width: 100%;
}

.footer__left-center {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}

.footer__left-bottom {
    display: flex;
    gap: 16px;
}

.footer__center {
    max-width: 280px;
    width: 100%;
}

.footer__right {
    max-width: 280px;
    width: 100%;
    margin-left: auto;
}

.footer__h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: var(--bg-section-secondary);
    margin-bottom: 20px;
}

.footer__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--text-footer);
    margin-bottom: 80px;
}

.footer__link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--text-footer);
}

.footer__link--simple {
    text-decoration: none;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: var(--main-color);
}

.footer__nav-list__item {
    display: flex;
    gap: 8px;
}

.footer__nav-list__item img {
    margin-left: auto;
}

.footer__nav-list__item::before {
    content: url(../images/icons/arrow-right-icon.svg);
}

@media (max-width: 1280px) {
    .footer {
        margin: 0;
    }

    .footer__wrapper {
        padding: 50px 16px 80px;
    }
}

@media (max-width: 1024px) {
    .footer__left-center {
        flex-wrap: wrap;
        gap: 16px;
    }
}

@media (max-width: 720px) {
    .footer__wrapper {
        padding: 50px 16px 80px;
    }

    .footer__top {
        flex-direction: column;
    }

    .footer__center {
        margin-bottom: 30px;
    }

    .footer__right {
        margin: 0;
    }

    .footer__left-center {
        margin-bottom: 30px;
        gap: 32px;
    }

    .footer__left-bottom {
        margin-bottom: 30px;
    }

    .footer__text {
        margin-bottom: 30px;
    }

    .footer__bottom__wrapper {
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }
}