:root {
    --color-bg: #e1ede6;
    --color-logo: #598d66;
    --color-text: #2C2D35;
    --color-subtext: #86928b;
    --color-border: #c3d1c6;
    --color-promo-title: #F4F6F5;
    --color-promo-text: #fff;
    --color-promo-button: #eedb6d;
    --color-active: #376b44;
    --color-primary: #d4e8d9;
    --font-family: "Raleway", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}