.header {
    background: var(--color-bg);
}

.header__wrapper {
    max-width: 1440px;
    max-height: 100px;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    gap: 8px;
    margin: 33px 0 32px 0;
    align-items: center;
}

.logo__text {
    color: var(--color-logo);
    font-size: 20px;
    font-weight: 700;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 60px;
    font-size: 20px;
    font-weight: 500;
    margin: 38px 0 38px 0;
}

.nav__item:first-child {
    display: none;
}

.nav__item a {
    color: var(--color-text);
}

@media (max-width: 900px) {
    .logo {
        margin: 33px 0 32px 0;
    }

    .nav__list {
        font-size: 18px;
        margin: 38px 0 38px 0;
    }
}

@media (max-width: 700px) {
    .header__wrapper {
        flex-direction: column;
        align-items: initial;
        max-height: 123px;
        margin-bottom: 50px;
        padding: 16px 33px;
    }

    .header__nav {
        border-top: 1px solid var(--color-border);
    }

    .logo {
        margin: 0 auto 16px;
    }

    .nav__list {
        display: flex;
        margin: 16px auto 0;
        justify-content: space-evenly;
    }

    .nav__item:has(img) {
        margin-left: auto;
    }
}

@media (max-width: 512px) {
    .header {
        background: none;
    }

    .header__wrapper {
        margin-bottom: 60px;
        padding: 0;
    }

    .header__nav {
        border: none;
        background: var(--color-bg);
        padding: 16px 15px;
        width: 100%;
    }

    .logo {
        margin: 17px auto 16px;
    }

    .nav__list {
        justify-content: space-between;
        margin: 0;
    }

    .nav__item {
        display: none;
    }

    .nav__item:first-child {
        display: initial;
    }

    .nav__item:has(img) {
        display: initial;
        margin: 0;
    }

}